body {
  width: 100%;
  height: 100%;
  background-color: #222;
  overflow: hidden;
  clear: both;
}

* {
  font-family: 'Oswald', sans-serif;
}

#navbar-left {
  overflow: hidden;
  left: 0px;
  top: 0px;
  width: 4%;
  height: 100%;
  display: inline-block;
  position: absolute;
  float: left;
  background-color: #444;
}

#navbar-left a:link,
#navbar-left a:visited,
#navbar-left a:active,
#navbar-left a:hover {
  color: #222;
}

#navbar-left {
  text-align: center;
}

#navbar-left .navbar-icon i {
  position: relative;
  margin-top: 1vw;
  font-size: 3vw;  
}

#main-container {
  overflow: auto;
  display: inline-block;
  position: absolute;
  float: right;
  top: 0px;
  right: 0px;
  width: 96%; /* 6% taken from the navbar*/
  height: 100%;
  /*text-align: center;*/
}

#main-container .pl-container {
  display: inline-block;
  position: relative;
  width: 19%;
  height: 35%;
  background-color:#111;
  margin-left: 0.7%;
  margin-top: 0.5%;
  color: #444;
  text-align: center;
  vertical-align: top;
  padding: 10px;
}

#main-container #player-container{
  display: block;
  position: relative;
  width: 100%;
  height: 30%;
  background-color: #000;
}

#main-container .pl-container .pl-detail-date{
  display: block;
  position: absolute;
  bottom: 0px;
}

#main-container .pl-container .pl-btn-date{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 6vw; 
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  
  #main-container {
    top: 0px;
    right: 0px;
    width: 90%; /* 6% taken from the navbar*/
    height: 100%;
  }

  #main-container .pl-container {
    display: block;
    margin: 0 auto;
    width: 96%;
    height: 50%;
    margin-top: 2%;
  }

  #navbar-left {
    overflow: hidden;
    width: 10%;
    height: 100%;
  }

  #navbar-left .navbar-icon i {
    position: relative;
    margin-top: 1vw;
    font-size: 8vw;  
  }
  #main-container .pl-container .pl-btn-date{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 16vw; 
  }
}