body {
  width: 100%;
  height: 100%;
  background-color: #222;
  overflow: hidden;
  clear: both;
}

* {
  font-family: 'Oswald', sans-serif;
}

#navbar-left {
  overflow: hidden;
  left: 0px;
  top: 0px;
  width: 3%;
  height: 100%;
  display: inline-block;
  position: absolute;
  float: left;
  background-color: #444;
}

#navbar-left a:link,
#navbar-left a:visited,
#navbar-left a:active,
#navbar-left a:hover {
  color: #222;
}

#navbar-left {
  text-align: center;
}

#navbar-left .navbar-icon i {
  position: relative;
  margin-top: 1vw;
  font-size: 2vw;  
}

#main-container {
  overflow: auto;
  display: inline-block;
  position: absolute;
  float: right;
  top: 0px;
  right: 0px;
  width: 97%; /* 6% taken from the navbar*/
  height: 100%;
  /*text-align: center;*/
}

#main-container .pl-container {
  text-decoration: none;
  display: inline-block;
  position: relative;
  width: 19%;
  height: 15%;
  background-color:#111;
  margin-left: 0.7%;
  margin-top: 0.5%;
  color: #444;
  text-align: center;
  vertical-align: top;
  padding: 10px;
}

#main-container #player-container{
  display: block;
  position: relative;
  width: 100%;
  height: 30%;
  background-color: #000;
}

#main-container .pl-container .pl-detail-date{
  display: block;
  position: absolute;
  bottom: 0px;
}

#main-container .pl-container .pl-btn-date{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 4vw; 
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  
  #main-container {
    top: 0px;
    right: 0px;
    width: 90%; /* 6% taken from the navbar*/
    height: 100%;
  }

  #main-container .pl-container {
    display: block;
    margin: 0 auto;
    width: 96%;
    height: 20%;
    margin-top: 2%;
  }

  #navbar-left {
    overflow: hidden;
    width: 10%;
    height: 100%;
  }

  #navbar-left .navbar-icon i {
    position: relative;
    margin-top: 1vw;
    font-size: 8vw;  
  }
  #main-container .pl-container .pl-btn-date{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 8vw; 
  }
}














/*******************/




#playlists-holder {
  background-color: #333;
  overflow: auto;
  display: inline-block;
  position: absolute;
  float: left;
  top: 0px;
  left: 0px;
  width: 50%; /* 6% taken from the navbar*/
  height: 100%;
}

#card-track {
  background-color: #000;
  display: inline-block;
  float: right;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
}

#tracks-list {
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 5px;
  display: block;
  width: 100%;
  height: 45%;
}

#tracks-list a {
  text-decoration: none;
  color: #eee;
  background-color: #333;
  padding-top: 5px;
  padding-left: 5px;
  display: block;
  width: 100%;
}

#tracks-list a:hover {
  text-decoration: none;
  color: #222;
  background-color: #fff;
}

#playlist-title {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: #eee;
  font-size: 24px;
}

#song-title {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  text-align: left;
  color: #eee;
  font-size: 18px;
}

#tracks-ul {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #222; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ccc; 
}


#add-container {
  background-color: #333;
  position:absolute;
  display: block;
  width: 350px;
  height: 50px;
  margin-left: 50px;
  z-index: 1;
}

#add-container input[type='text'] {
  margin-left: 20px;
  width: 200px;
}

.frame {
  position: relative;
  margin-top: 12px;
}


















































