<!DOCTYPE html>
<html lang="en">
<head>
  <title>YoutubeEcho | Your YouTube music hub</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width, initial-scale = 1">

  <link rel="stylesheet" type="text/css" href="res/style.css">
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
</head>

<body>
<div id="wrap">
<div id="registerDiv">
  <h1>Registration</h1>
  <form method = "POST" action="/register" id="formID">
    <div class="formDiv">
      <input class="formInput" name="username" placeholder="Username" type="text"></input>
    </div>
    <div class="formDiv">
      <input class="formInput" name="email" placeholder="Email" type="text"></input>
    </div>
    <div class="formDiv">
      <input class="formInput" name="password1" placeholder="Password" type="password"></input>
    </div>
    <div class="formDiv">
      <input class="formInput" name="password2" placeholder="Confirm Password" type="password"></input>
    </div>
    <br>
    <input class="butt" type="submit" value="Register">
    <br>
  </form>
</div>
</div>
</body>

</html>
