<!DOCTYPE html>
<html lang="en">
<head>
  <title>YoutubeEcho | Your YouTube music hub</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width, initial-scale = 1">

  <link rel="stylesheet" type="text/css" href="res/style.css">
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
</head>
<body>


  <div id="navbar-left">
    <a href="#">
      <div class="navbar-icon">
        <i class="fa fa-search"></i>
        <i class="fa fa-plus-square"></i>
      </div>
    </a>
  </div>

  <div id="main-container">
    <div id="player-container">
      <div id="vis-audio"></div>
      <div id="vis-container">
        
      </div>
    </div>
  </div>

  <script src="res/jquery-3.3.1.min.js"></script>
  <script src="res/scripts/visualizer.js"></script>
  <script src="res/scripts/upage.js"></script>
</body>
</html>