<!DOCTYPE html>
<html lang="en">
<head>
  <title>YoutubeEcho | Your YouTube music hub</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width, initial-scale = 1">

  <link rel="stylesheet" type="text/css" href="res/style.css">
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
</head>
<body>


  <div id="navbar-left">
    <a href="#">
      <div class="navbar-icon">
        <a href="#" onclick="openAdd()"><i class="fa fa-plus-square"></i></a>
      </div>
    </a>
  </div>

  <div id="add-container">
    <div class="frame">
      <input type="text" name="id"/>
      <input type="button" value="Add playlist" name="add">
    </div>
  </div>

<!--
    <div id="player-container">
      <div id="vis-audio"></div>
      <div id="vis-container">
      </div>
    </div>
-->
    
  <div id="main-container">
    <div id="playlists-holder">
        
    </div>
    
    <div id="card-track">
        
      <div id="playlist-title">
        TITLE HERE
      </div>

      <div id="player-container">
        <div id="vis-audio">
        </div>

        <div id="vis-container">
        </div>
      </div>

      <div id="song-title">
        SONG TITLE HERE
      </div>

      <div id="tracks-list">
        <ul id="tracks-ul">
          
        </ul>
      <div>

    </div>
  </div>
    
    
    
    
    
    
    
    
    
    
    
  <script src="res/jquery-3.3.1.min.js"></script>
  <script src="res/scripts/visualizer.js"></script>
  <script src="res/scripts/upage.js"></script>
</body>
</html>